.logo{
  width: 50px;
  height: 50px;
}

#home{
  margin-top: 65px;
  width: 100%;
  height: fit-content;
  scroll-margin-top: 80px;
  padding-bottom: 20px;
}

#home > div:first-child > h3{
  padding-top: 40px;
}

 #about,
 #contact{
  width: 100%;
  height: fit-content;
  scroll-margin-top: 80px;
  padding-bottom: 20px;
}

#fleet{
  width: 100%;
  height: fit-content;
  scroll-margin-top: 5px;
  padding-bottom: 20px;
  padding-top: 80px;
}

.hamburger{
  color: #ffffff;
  background-color: #000000;
}

.home-filter{
  width: 90%;
  height: fit-content;
  margin:auto auto -80px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.1);
}

.home-filter>div:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-brand-container{
  height: 30px;
  padding: 20px;
  margin: 20px auto;
}

.car-brand{
  width: 60px;
  height: auto ;
}

@media screen  and (max-width:480px){
  .car-brand{
    width: 30px;
    height: auto ;
  }
}