.logo{
  width: 50px;
  height: 50px;
}

#home{
  margin-top: 65px;
  width: 100%;
  height: fit-content;
  scroll-margin-top: 80px;
  padding-bottom: 20px;
}

#home > div:first-child > h3{
  padding-top: 40px;
}

 #about,
 #contact{
  width: 100%;
  height: fit-content;
  scroll-margin-top: 70px;
  padding-bottom: 20px;
}

#fleet{
  width: 100%;
  height: fit-content;
  scroll-margin-top: 5px;
  padding-bottom: 20px;
  padding-top: 80px;
}

.hamburger{
  color: #ffffff;
  background-color: #000000;
}

.home-filter{
  width: 90%;
  height: fit-content;
  margin:auto auto -80px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.1);
}

.home-filter>div:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-brand-container{
  height: 30px;
  padding: 20px;
  margin: 20px auto;
}

.car-brand{
  width: 60px;
  height: auto ;
}

.car-details { 
  flex: 1;
  min-width: 250px; 
  box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.fleet-image-container{
  width: 100%;
  height: 200px;
}

.car-image {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  object-fit: fill;
}

.car-info{
  padding: 10px;
}

.car-info .car-specs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  color: #565758;
}

.working{
  width: 100%;
  display: flex;
  gap: 20px;
}

.working-detail{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.working-detail >div{
  display: flex;
  gap: 10px;
  border: 1px solid #565758;
  padding: 20px;
  border-radius: 10px;
}

.working-detail >div > div:first-child{
  width: 25%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.working-image{
  width: 50%;
  height: 100%;
}

.working-image > .working-img{
  width: 100%;
  border-radius: 10px;
}

#about > div> div p{
  color: rgb(209, 206, 206);
}

@media screen  and (max-width:480px){
  .car-brand{
    width: 30px;
    height: auto ;
  }

  .working{
    flex-wrap: wrap;
  }

  .working-detail{
    width: 100%;
  }

  .working-detail >div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .working-detail >div > div:first-child{
    width: 70px;
    height: 70px;
    font-size: 40px;
  }

  .working-image{
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  #about > div{
    flex-direction: column;
  }
}